body, nav{
  background-color: #CBE2F6;
  text-align: center;
}

#planet {
  margin: 10px 40px;
  padding: 0px;
  overflow: auto;
}

#planet img{
  margin: 0px 5px 5px 0px;
  float: left;
}

#reference {
  margin: 5px 40px;
  font-size: .8em;
}